img {
    width: 200px;
    height: 150px;
}



body {
    background:linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    text-align: center;
    border: 20px solid black;
    padding-right: 200px;
}
